{% extends "base.html" %}
{% block content %}
<main class="form-signin container">
    {% if error %}
    {{ error }}
    {% endif %}
    <form method="post">
        {% csrf_token %}
    <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">サインアップする</h1>
    <label for="inputEmail" class="visually-hidden">ユーザ名</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="ユーザ名" required="" autofocus="" name="username_data">
    <label for="inputPassword" class="visually-hidden">パスワード</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="パスワード" required="" name="password_data">
    <button class="w-100 btn btn-lg btn-primary" type="submit">サインアップ</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2021</p>
    </form>
</main>
{% endblock content %}